form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1000px;
  justify-content: flex-start;
  align-items: center;
}

.alert {
  color: red
}

input {
  padding: 0.5rem;
  margin: 1rem;
}
